# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


# Compiled source files
*.class
*.py[cod]
*$py.class

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
__pycache__/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm project files
.idea/
*.iml
*.iws

# Virtual environment
venv/
ENV/
env/
.venv/
ml_venv/

# macOS files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Linux-specific files
*~
.directory
.*.kate-swp

# Windows-specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# Python language server
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
pytest_cache/

# PyCharm file-based indexes
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/vcs.xml

# PyCharm python-specific
.idea/**/vcs.xml

# PyCharm project-based
.idea/.idea/

# System file that should not be committed
.svn/
.git/
